h1, h2, h3, h4, h5 {
    font-family: getFont(fontheader);
}

h2 {
    text-align: center;
    margin: 50px 30px;
}

p {
    font-family: getFont(fontparagraph);
}

button {
    font-family: getFont(fontmedium);
}